@{
    ViewData["Title"] = "Uniprot Distributed Database";
}

<div class="row">
    <div class="col-md-12">
        <h2>Import To Database</h2>

        <div>Enter file path:</div>
        <input class="form-control" type="text" name="NAME" id="FileName" value="/home/tag/uniprot/uniprot_trembl_human.csv"/>
        <button class=" btn btn-primary btn-lg btn-block" id="Load">Load</button>
        <hr/>

        <div>
            <button class=" btn btn-primary" id="Checker">Activate Checker</button>
            <button class=" btn btn-primary" id="Slaves">Check Slaves</button>
            <button class=" btn btn-primary" id="Bulk">Check Bulk Status</button>
            <button class=" btn btn-primary" id="ShowDetails">Show Details</button>
        </div>

        <hr/>
        <div class="col-md-12">
            <h3>Info:</h3>
            <div id="output" class="col-md-12">
                <table id="table" style="width:100%;visibility:collapse">
                    <tr >
                        <td style="vertical-align:top">Split</td>
                        <td style="vertical-align:top; width:90%">
                            <div class="progress">
                                <div id="split_progress" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%;">
                                    0%
                                </div>
                            </div>
                        </td>
                        <td style="vertical-align:top">
                            <img id="s_check" src='https://www.shareicon.net/data/128x128/2016/08/20/817721_check_512x512.png' height="10" width="10" style="visibility:hidden" />
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top">Broadcast</td>
                        <td style="vertical-align:top; width:90%">
                            <div class="progress">
                                <div id="broadcast_progress" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%;">
                                    0%
                                </div>
                            </div>
                        </td>
                        <td style="vertical-align:top;">
                            <img id="b_check" src='https://www.shareicon.net/data/128x128/2016/08/20/817721_check_512x512.png' height="10" width="10" style="visibility:hidden"/>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top">Bulk</td>
                        <td style="vertical-align:top; width:90%">
                            <div class="progress">
                                <div id="bulk_progress" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%;">
                                    0%
                                </div>
                            </div>
                        </td>
                        <td style="vertical-align:top">
                            <img id="blk_check" src='https://www.shareicon.net/data/128x128/2016/08/20/817721_check_512x512.png' height="10" width="10" style="visibility:hidden" />
                        </td>
                    </tr>
                    
                    
                </table>
                

                <div id="otherinfo" style="font-family:'Courier New'"></div>
                <div id="detailsShow" style="visibility:collapse">
                    <hr/>
                    <div id="details"></div>
                </div>
            </div>
        </div>

    </div>

</div>

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script>

    $('#ShowDetails').click(function () {
        if ($('#detailsShow').css('visibility', 'visible'))
        $('#detailsShow').css('visibility', 'visible');

    })

    $('#Load').click(function () {
        $.ajax({
            url: '/Home/Load',
            data: { path: $('#FileName')[0].value },
            type: 'GET',
            dataType: 'json',
            success: function (response) {
                if (response.success == true) {
                    start();
                } else {
                    $('#otherinfo').html(response.status);
                }
                
            }
        });
    })

    $('#Info').click(function () {
        $.ajax({
            url: '/Home/Check_Status',
            type: 'GET',
            dataType: 'json',
            success: function (response) {
                $('#otherinfo').html(response.status);
            },
            error: function (response) {
                alert.error;
            }
        });
    })

    var isFinished = true;

    $('#Checker').click(function () {
        //If this is finished or first time -> then start the thread
        $('#table').css('visibility', 'visible');
        start();
    })

    function start(){
        if (isFinished) {
            repeat();
        }
    }

    function repeat() {
        //Initialisation
        $('#split_progress').html();
        $('#split_progress').attr('aria-valuenow', 0);
        $('#split_progress').css('width', 0 + '%');

        $('#broadcast_progress').html();
        $('#broadcast_progress').attr('aria-valuenow', 0);
        $('#broadcast_progress').css('width', 0 + '%');

        $('#bulk_progress').html();
        $('#bulk_progress').attr('aria-valuenow', 0);
        $('#bulk_progress').css('width', 0 + '%');

        isFinished = false;
        loop();
    }

    function loop() {
        callinfo(callback);
        setTimeout(function () {
            if (!isFinished) {
                loop();
            }
        }, 500);
    }

    function callback(resJson) {
        var res = JSON.parse(resJson);
        var percantage = 0;

        if (res.status.includes("split")) {
            percantage = Math.round((res.s_current / res.s_total) * 100)
            $('#split_progress').html(res.s_status);
            $('#split_progress').attr('aria-valuenow', percantage);
            $('#split_progress').css('width', percantage + '%');
            $('#details').html(res.details);
        }
        if (res.splitDone == true) {
            $('#split_progress').html(res.s_status);
            $('#split_progress').attr('aria-valuenow', 100);
            $('#split_progress').css('width', '100%');
            $('#s_check').css('visibility', 'visible');
            $('#split_progress').removeClass("progress-bar progress-bar-striped active");
            $('#split_progress').addClass("progress-bar progress-bar-success");

        }

        if (res.status.includes("broadcast")) {
            percantage = Math.round((res.b_current / res.b_total) * 100)
            $('#broadcast_progress').html(res.b_status);
            $('#broadcast_progress').attr('aria-valuenow', percantage);
            $('#broadcast_progress').css('width', percantage + '%');
            $('#details').html(res.details);
        }
        if (res.broadcastDone == true) {
            $('#broadcast_progress').html(res.b_status);
            $('#broadcast_progress').attr('aria-valuenow', 100);
            $('#broadcast_progress').css('width', '100%');
            $('#b_check').css('visibility', 'visible');
            $('#broadcast_progress').removeClass("progress-bar progress-bar-striped active");
            $('#broadcast_progress').addClass("progress-bar progress-bar-success");
        }

        if (res.status.includes("bulk")) {
            percantage = Math.round((res.blk_current / res.blk_total) * 100)
            $('#bulk_progress').html(res.blk_status);
            $('#bulk_progress').attr('aria-valuenow', percantage);
            $('#bulk_progress').css('width', percantage + '%');
            $('#details').html(res.details);
        }
        if (res.bulkDone == true) {
            $('#bulk_progress').html(res.blk_status);
            $('#bulk_progress').attr('aria-valuenow', 100);
            $('#bulk_progress').css('width', '100%');
            $('#blk_check').css('visibility', 'visible');
            $('#bulk_progress').removeClass("progress-bar progress-bar-striped active");
            $('#bulk_progress').addClass("progress-bar progress-bar-success");
        }


        if (res.status.includes("finished")) {
            isFinished = true;
            $('#otherinfo').html("<div>\"Import finished.\"<div></div><div>Time statistics:</div><div>Split: "+res.s_time+"</div><div>Broadcast: "+res.b_time+"</div><div>Bulk: "+res.blk_time+"</div></div>");
        }
        return res;
    }

    function callinfo(callback) {
        $.ajax({
            url: '/Home/Check_Status',
            type: 'GET',
            success: function (response) {
                callback(response)
            },
            error: function (response) {
                callback("Error")
            }
        });
    }

    $('#Slaves').click(function () {
        $.ajax({
            url: '/Home/Check_Slaves',
            type: 'GET',
            success: function (response) {
                $('#otherinfo').html("");
                var res = JSON.parse(response);
                var i;
                for (i = 0; i < res.length; i++) {
                    if (res[i].includes("Slave not running")) $('#otherinfo').append("<div>" + res[i] + " <img height=10 width=10 src='https://upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Fxemoji_u274C.svg/512px-Fxemoji_u274C.svg.png'></div>");
                    else $('#otherinfo').append("<div>" + res[i] + " <img height=10 width=10 src='https://www.shareicon.net/data/128x128/2016/08/20/817721_check_512x512.png'></div>");

                }
                //$('#output').html(res);
            },
            error: function (response) {
                alert.error;
            }
        });
    })

    $('#Bulk').click(function () {
        $.ajax({
            url: '/Home/Check_Bulk_Status',
            type: 'GET',
            success: function (response) {
                $('#otherinfo').html("");
                var res = JSON.parse(response);
                var i;
                for (i = 0; i < res.length; i++) {
                    if (res[i].includes("Bulk not running")) $('#otherinfo').append("<div>" + res[i] + " <img height=10 width=10 src='https://upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Fxemoji_u274C.svg/512px-Fxemoji_u274C.svg.png'></div>");
                    else $('#otherinfo').append("<div>" + res[i] + " <img height=10 width=10 src='https://www.shareicon.net/data/128x128/2016/08/20/817721_check_512x512.png'></div>");
                    //$('#output').append("<div>" + res[i] + "</div>");
                }
                //$('#output').html(response);
            },
            error: function (response) {
                alert.error;
            }
        });
    })

</script>


